*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    transition: all 0.4s ease-in-out 0.01s;
}

body{
    background-color: #F7F9FB;
}

nav{
    z-index: 10;
}


html{
    overflow: hidden;
}